.font-raleway{
    font-family: 'Raleway', sans-serif;
}

#next:disabled {
    background: #ccc;
    color: white;
  }

.font-roboto{
    font-family: 'Roboto';
}

input[type=number] {
    -moz-appearance: textfield;
  }
